<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Repository Browser</title>
		<meta charset="utf-8">
		<meta name="author" content="BurnedOliveTree">
		<link rel="icon" href="resources/icon.png" type="image/png"/>
		<link rel="stylesheet" href="styles/main.css" type="text/css">
		<link rel="stylesheet" href="styles/dark.css" type="text/css">
	</head>
	<body>
		<!-- HEADER -->
		<div class="outer" id="header_wrap">
			<header class="inner">
				<h1>Repository Browser</h1>
				<img class="icon left" src="https://github.githubassets.com/favicons/favicon-dark.svg"/>
				<img class="icon right" src="https://avatars.githubusercontent.com/u/56540456?v=4"/>
			</header>
		</div>
		<!-- CONTENT -->
		<div class="outer" id="content_wrap">
			<section class="inner">
				<form>
					<input type="text" id="username" name="username" placeholder="Please enter a GitHub username" value={{name}}>
				</form>
				<p>
					{{ err }}
					{% if stars %}
						Total amount of stars: {{ stars }}
					{% endif %}
				</p>
				{% for repo, stars in repos %}
					  <li> {{ repo }} ({{ stars }}) </li>
				{% endfor %}
			</section>
		</div>
		<!-- FOOTER -->
		<div class="outer" id="footer_wrap">
			<footer class="inner">
				<p>Copyright &copy; Ksawery Chodyniecki 2021</p>
			</footer>
		</div>
	</body>
</html>
