:root {
	--text: #F0F0F0;
	--light_text: #909090;
	--border: #101010;
	--background: #202020;
	--light_background: #404040;
}
body {
	color: var(--text);
	background-color: var(--background);
}
#header_wrap { background-color: var(--border); }
#content_wrap { background-color: var(--background); }
#footer_wrap {
	color: var(--light_text);
	background-color: var(--border);
}
a { color: var(--text); }
.rounded { border-color: var(--border); }
input {
    color: var(--text);
    background-color: var(--light_background);
    border-color: var(--text);
}